<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="navbar-container">
    <div class="logo" (click)="navigateTo('about')">
      <span>Milad Mofidi</span>
    </div>
    
    <div class="menu-toggle" (click)="toggleMenu()">
      <div class="bar" [class.active]="isMenuOpen"></div>
      <div class="bar" [class.active]="isMenuOpen"></div>
      <div class="bar" [class.active]="isMenuOpen"></div>
    </div>
    
    <ul class="navbar-links" [class.active]="isMenuOpen">
      <li *ngFor="let item of menuItems">
        <a 
          [class.active]="activeSection === item.id"
          (click)="navigateTo(item.id)">
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div>
</nav>
