html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.portfolio-container {
  display: flex;
  flex-direction: column; /* Stack all child items vertically */
  min-height: 100vh; /* Ensure the wrapper fills the whole viewport height */
}

main.content {
  flex: 1; /* Allow the main content to grow and take up available space */
}

section {
  min-height: 100vh; /* Ensure sections take up full viewport height */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Ensure contrasting text color for readability */
  text-align: center;
}

.footer {
  max-height: 50px;
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  section {
    padding: 60px 20px;
  }
}
